/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Utilities  style */
.honda-font-300{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    }
    .honda-font-500{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .honda-font-600{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
    }
    .honda-color{
        color: #E76F51;
    }
.honda-front-part-margin{
    margin: 15px 0px;
}

/* header part style  */
.honda-bg-color{
    background-color: #264653;
}
.honda-btn-bg{
    background-color: #E76F51;
    border-radius: 10px;
    padding: 10px 20px;
}

/* What are we upto part */

.img-hover-zoom {
  /* height: 300px; [1.1] Set it as per your need */
  overflow: hidden;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.20);
}
.honda-upto-bg{
    background-color: #f9f9f9;
}

/* feture part  */
.honda-img-grayscale{
    filter: grayscale(100%);
}
.button {
    background-color: #e76f51;
    color: whitesmoke;
}


/* happy client part  */

.honda-img-size{
    width: 149px;
    height: 149px;
    margin-top: 40px;
}
.honda-regina-clr{
    color: #23A6F0;
}
